.pad {
    padding: 15px;
}
.gap{
    padding: 5px;
}

.pad-h {
    padding-left: 15px;
    padding-right: 15px;
}
.pad-v {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gap-h{
    padding-left: 5px;
    padding-right: 5px;
}

.gap-v{
    padding-top: 5px;
    padding-bottom: 5px;
}


.gap-left{
    padding-left: 5px;
}
.gap-right{
    padding-right: 5px;
}

