
table.data {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

 table.data th {
     border: 1px solid #81b4be;
     padding: 5px 0;  
}
table.data td{
	border: 1px solid #ccc;
	padding: 5px 0;
}

table.data > thead>tr {
    background-color: #4bdaf3;
    font-weight: bold;
    height: 2em;
}

table.data>tr,table.data>tbody>tr {
    background-color: #ffffff;
}


table.data>tr:nth-child(even),table.data>tbody>tr:nth-child(even) {
    background-color: #fefefc;
}

table.data>tr:HOVER,table.data>tbody>tr:HOVER {
    background-color: #EFEFEF;
}
