<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>NEUSOFT-OA</display-name>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<description>系统启动监听器</description>
		<listener-class>com.neusoft.oa.core.web.ThisSystemBootstrapListener</listener-class>
	</listener>
	
	<listener>
		<description>统计在线用户数</description>
		<listener-class>com.neusoft.oa.common.web.listener.LoginUserStatisticsListener</listener-class>
	</listener>

	<filter>
		<filter-name>权限过滤器</filter-name>
		<filter-class>com.neusoft.oa.core.web.filter.AuthrorityFilter</filter-class>
		<init-param>
			<description>白名单（支持ant风格）</description>
			<!--ant风格的路径表达式 ? * ** -->
			<param-name>white-list</param-name>
			<param-value>
				/login.ajax
				/jsp/login.jsp
				/captcha.do
				/jsp/forgetPassword.jsp
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>权限过滤器</filter-name>
		<url-pattern>/jspxx/*</url-pattern>
		<!-- 
		<url-pattern>/jsp/*</url-pattern>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.ajax</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		 -->
	</filter-mapping>
	
	
	<filter>
		<filter-name>公共验证码服务</filter-name>
		<filter-class>com.neusoft.oa.core.web.filter.CaptchaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>公共验证码服务</filter-name>
		<!-- 如果需要验证验证码，把url添加到下面请求即可 -->
		<url-pattern>/login.ajax1</url-pattern>
		<url-pattern>/login.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	
	<session-config>
		<!-- session10分钟后自动销毁 -->
		<session-timeout>10</session-timeout>
	</session-config>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/500.jsp</location>
	</error-page>
	
	
	<servlet>
	  	<servlet-name>文件上传</servlet-name>
	  	<servlet-class>com.neusoft.oa.document.web.attachmentManage.AddServlet</servlet-class>
	  	<multipart-config>
  		<!-- 超过阈值的文件存放路径，默认是系统临时目录 -->
  		<location>f:/temp</location>
  		<!-- 上传单个文件的最大byte 1024*1024=1048576 -->
  		<max-file-size>10485760</max-file-size>
  		<!-- 整个请求最大byte -->
  		<max-request-size>104857600</max-request-size>
  		<!-- 存放到内存阈（yu4）值，应该根据服务器内存大小进行设置byte -->
  		<file-size-threshold>102400</file-size-threshold>
  	</multipart-config>
  	</servlet>
  	
  	
	<servlet>
  	<servlet-name>邮件附件上传</servlet-name>
  	<servlet-class>com.neusoft.oa.message.web.email.WriteEmailServlet</servlet-class>
  	
  	<multipart-config>
  		<!-- 超过阈值的文件存放路径，默认是系统临时目录 -->
  		<location>f:/temp</location>
  		<!-- 上传单个文件的最大byte 1024*1024=1048576 -->
  		<max-file-size>10485760</max-file-size>
  		<!-- 整个请求最大byte -->
  		<max-request-size>104857600</max-request-size>
  		<!-- 存放到内存阈（yu4）值，应该根据服务器内存大小进行设置byte -->
  		<file-size-threshold>102400</file-size-threshold>
  	</multipart-config>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>文件上传</servlet-name>
  	<url-pattern>/attachmentManage/add.do</url-pattern>
  </servlet-mapping>
  		
  <servlet-mapping>
  	<servlet-name>邮件附件上传</servlet-name>
  	<url-pattern>/addEmail.do</url-pattern>
  </servlet-mapping>
</web-app>