# the database connection metadata
db.driver-class=com.mysql.jdbc.Driver
db.url=jdbc:mysql://127.0.0.1/oa?createDatabaseIfNotExist=true
db.username=root
db.password=root
#system
# the new user password
sys.default-user-password=123456
# the default page size
sys.default-page-size=10

# the default emailAdress
oa.default-work-email=@neusoft.coms

# the default emailAdress
oa.default-work-email=@neusoft.coms

#email
email.server.account=antolife@163.com
email.server.password=123456abc
email.mail.transport.protocol=smtp
email.mail.smtp.host=smtp.163.com
email.mail.smtp.port=25
email.mail.smtp.auth=true
email.mail.smtp.ssl.enable=false
email.modify-security-email-url=/user/modifySecurityEmail.do






